[submodule ".registry"]
	path = .registry
	url = https://github.com/cjvanlissa/cjvanlissa.r-universe.dev
	branch = HEAD
[submodule "BFpack"]
	path = BFpack
	url = https://github.com/cjvanlissa/BFpack
[submodule "bain"]
	path = bain
	url = https://github.com/cjvanlissa/bain
[submodule "gorica"]
	path = gorica
	url = https://github.com/cjvanlissa/gorica
[submodule "metaforest"]
	path = metaforest
	url = https://github.com/cjvanlissa/metaforest
[submodule "pema"]
	path = pema
	url = https://github.com/cjvanlissa/pema
[submodule "tidyLPA"]
	path = tidyLPA
	url = https://github.com/cjvanlissa/tidyLPA
[submodule "tidySEM"]
	path = tidySEM
	url = https://github.com/cjvanlissa/tidySEM
[submodule "worcs"]
	path = worcs
	url = https://github.com/cjvanlissa/worcs
